<launch>
     <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sawyer_description)/urdf/sawyer.urdf.xacro electric_gripper:=true" />

     <rosparam
         file="$(find sawyer_kdl)/config/saywer_kdl_params.yaml"
         command="load" />

     <rosparam
         file="$(find sawyer_description)/params/named_poses.yaml"
         command="load" />


    <node name="sawyer" pkg="sawyer_move" type="force_control" output="screen" cwd="node" >
      <remap from="joint_states" to="robot/joint_states"/> 
    </node>
    
    
    <node name="tracking" pkg="sawyer_move" type="tracking" output="screen" cwd="node" />
    <node name="collect_data" pkg="sawyer_move" type="collect_data" output="screen" cwd="node" />
    <node name="control" pkg="sawyer_move" type="control" output="screen" cwd="node" />
</launch>
