<launch>
     <param name="robot_description" command="$(find xacro)/xacro --inorder $(find sawyer_description)/urdf/sawyer.urdf.xacro electric_gripper:=true" />

     <rosparam
         file="$(find sawyer_kdl)/config/saywer_kdl_params.yaml"
         command="load" />

     <rosparam
         file="$(find sawyer_description)/params/named_poses.yaml"
         command="load" />


    <node name="sawyer" pkg="sawyer_move" type="sawyer_jac_move" output="screen" cwd="node" >
      <remap from="joint_states" to="robot/joint_states"/> 
    </node>

</launch>